<%- include("partials/header.ejs") %>
<div class="container text-center">
<%  result.forEach((result) => { %>
  <div class="row">
    <%= typeof msg != 'undefined' ? msg : '' %>
      <h1 style="text-align: center"> Edit <%= result.title %> </h1>
      <div style="width: 30%; margin: 25px auto;">
          <form action="/blogs/<%= result.id %>" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Title</label>
                  <input class="form-control" type="text" name="title" value="<%= result.title %>">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                 <span class="input-group-text" >Upload</span>
               </div>
               <div class="custom-file">
                   <input name="myImage" type="file" value   class="custom-file-input" id="inputGroupFile01" >
                   <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                 </div>
               </div>
              <div class="form-group">
                <label for="fname">Description</label>
                  <input class="form-control" type="text" name="body" value="<%= result.body %>">
              </div>
            <button type="submit"class="btn btn-outline-dark">Update</button>
          </form>
        </div>
  </div>
</div>
  <%}) ; %>


<%- include("partials/footer.ejs") %>
